* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
  
body {
    background-color: var(--main-dark-background);
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

.container_main {

    max-width: 1400px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;

}